    <p>
        Want a new perspective on an object? This is a project that transforms facts about objects into narrative versions of the art pages on the museum’s website. When you hit a different route, you can swap story templates of and see different narrative or creative versions of the object page. 
    </p>
    <p>
        Currently, the website has two versions of stories. The first version renders the object through the two basic Mad Libs templates, depending on their object type (coins or non-coins). 
    </p>
    <ul>
        <li><a href="http://localhost:3000/object/168614">An example of a coin</li>
        <li><a href="http://localhost:3000/object/292540">An example of a sculpture</a></li>
        <li><a href="http://localhost:3000/object/230457">An example of a painting</a></li>
    </ul>
    <p>
        To check out any objects from the collection, follow the URL template: /object/OBJECTID
    </p>
    <br>
    <p>
        The second version consists of creative narrative fragments. One fragment is about detecting the eye gaze direction of the figure in a portrait and displaying short poetic lines describing them. The other fragment is a first-person narrative of an object's history of displacement. 
    </p>
    <ul>
        <li><a href="http://localhost:3000/object/178609/coolpage">An example of a portrait that looks to the right</a></li>
        <li><a href="http://localhost:3000/object/209167/coolpage">An example of an object with a history of displacement</a></li>
    </ul>
    <p>
        To swap to this version of object stories, just add /coolpage to the end of your URL above, namely in the format: /object/OBJECTID/coolpage
    </p>