<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <p>
                <img src="{{data.images.[0].baseimageurl}}?width=200">
            </p>
            <p>I am a <mark>{{data.worktypes.[0].worktype}}</mark>.</p>
        </div>
        <div class="col-6">
            <pre>{{data.raw}}</pre>
        </div>
    </div>
</div>